<div class="language-wrapper">
  <div class="row">
    <div class="init large-6 columns">

      <h1><span class="language-title"><%= @name %></span></h1>

      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <%= render partial: "syntaxes" %>
          </div>
          <div class="row">
            <%= render partial: "algorithms" %>
          </div>
        </div>
        <div class="large-12 columns">
          <div class="row">
            <%= render partial: "characteristics" %>
          </div>
          <div class="row">
            <%= render partial: "integrations" %>
          </div>
        </div>
      </div>
    </div>

    <div class="other large-6 columns">

      <h1><span class="language-title"><%= @other_name %></span></h1>

      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <%= render partial: "syntaxes" %>
          </div>
          <div class="row">
            <%= render partial: "algorithms" %>
          </div>
        </div>
        <div class="large-12 columns">
          <div class="row">
            <%= render partial: "characteristics" %>
          </div>
          <div class="row">
            <%= render partial: "integrations" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
